<!DOCTYPE html>
<html>
    <head>
         <title>Home</title>
         <style>
             *{
                margin: 0%;
                padding: 0%;
             }
             .bg-black
             {
                 background-color: black;
             }
             .text-white
             {
                 color: blanchedalmond;
             }
             .height
             {
                height: 100vh;
             }
             .flex
             {
                 display: flex;
                 justify-content: center;
             }

         </style>
    </head>
    <body>
        <div class="container bg-black text-white height">
            <div>
            <h1 class="flex" >Welcome To Service center</h1>
            <div><a href="/addusers" class="text-white"> Register Member</a></div>
            <div> <a href="/users" class="text-white"> Show Member</a> </div>
            <div><a href="/Service" class="text-white"> add new service</a></div>
            <div><a href="/allservice" class="text-white">View all service</a></div>
            <div><a href="/bill" class="text-white">Billing details</a></div>

            
        </div>
        </div>
    </body>
</html>