<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
             *{
                margin: 0%;
                padding: 0%;
             }
             .bg-black
             {
                 background-color: black;
             }
             .text-white
             {
                 color: blanchedalmond;
             }
             .height
             {
                height: 100vh;
             }
             .flex
             {
                 display: flex;
                 justify-content: center;
             }

    </style>
</head>
<body>
    <div class="container height bg-black text-white"> 
        <h1>Mechanic Login</h1>
    <div>
        <a href="/service" class="text-white">Service</a>
    </div>
    <div>
        <a href="/allservice" class="text-white">View all service</a>
    </div>
    </div>
</body>
</html>