<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0%;
            padding: 0%;
        }
        .bg-black
        {
            background-color: black;
        }
        .text-white
        {
            color: white;
        }
        .height100vh
        {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container bg-black text-white height100vh">
        <h1> Welcome To Service Center</h1>
        <div class="text-white"> 
        <div>
            <a href="/adminside" class="text-white">Admin login</a>
        </div>
         <div>
                <a href="/mechanicside" class="text-white" >Mechanic Login</a>
         </div>
        </div>
    </div>
</body>
</html>