<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <style>
            *{
                margin: 0%;
                padding: 0%;
            }
        </style>
    </head>
    <body>
        <h1>Registration</h1>
        <a href="/home"> registration</a>
    </body>
</html>